<div class="dialog-content">
    <form class="add-clock-form">
        <div class="form-group">
            <label>{{localize "GlobalProgressClocks.CreateDialog.Name"}}</label>
            <input type="text" name="name" value="{{clock.name}}" autofocus />
        </div>
        <div class="form-group">
            <label>{{localize "GlobalProgressClocks.CreateDialog.FilledColor"}}</label>
            <input type="color" name="filledColor" value="{{#if clock.filledColor}}{{clock.filledColor}}{{else}}#FF0000{{/if}}" />
        </div>
        <div class="form-group">
            <label>{{localize "GlobalProgressClocks.CreateDialog.EmptyColor"}}</label>
            <input type="color" name="emptyColor" value="{{#if clock.emptyColor}}{{clock.emptyColor}}{{else}}#FFFFFF{{/if}}" />
        </div>
        <div class="form-group">
            <label>{{localize "GlobalProgressClocks.CreateDialog.Size"}}</label>
            <div class="dropdown-wrapper">
                {{#if clock.max}}
                    {{ numberInput clock.max name="max" step=1 min=2 max=max_size }}
                {{else}}
                    {{ numberInput 4 name="max" step=1 min=2 max=max_size }}
                {{/if}}
                <ul class="dropdown">
                    {{#each presetSizes as |size|}}
                        <li data-value={{size}}>{{size}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="dialog-buttons">
    <button class="dialog-button" data-button="yes">
        <i class="fas fa-check"></i>
        {{localize "Yes"}}
    </button>
    <button class="dialog-button" data-button="no">
        <i class="fas fa-times"></i>
        {{localize "No"}}
    </button>
</div>