<form>
    <div class="form-group">
        <label>{{localize "GlobalProgressClocks.CreateDialog.Name"}}</label>
        <input type="text" name="name" value="{{clock.name}}" autofocus />
    </div>
    <div class="form-group">
        <label>{{localize "GlobalProgressClocks.CreateDialog.Size"}}</label>

        {{#if clock.max}}
            {{ numberInput clock.max name="max" step=1 min=2 max=max_size }}
        {{else}}
            {{ numberInput 4         name="max" step=1 min=2 max=max_size }}
        {{/if}}
    </div>
</form>