<section 
    class="clock-panel {{#if @root.options.editable}}editable{{/if}} {{verticalEdge}}"
    style="--offset: {{offset}}">
    <div class="clock-list">
        {{#each clocks as |clock|}}
            <div class="clock-entry {{#if clock.private}}private{{else if (and clock.private (not @root.options.editable))}}hidden{{/if}}" data-id="{{clock.id}}">
                <div class="clock" style="--areas: {{clock.max}}; --filled: {{clock.value}}; --clock-color: {{clock.color}}; --background: {{clock.backgroundColor}}">
                    {{#each clock.spokes}}
                        <div class="spoke" style="--index: {{ this }}"></div>
                    {{/each}}
                </div>
                <div class="name-section">
                    {{#if @root.options.editable}}
                        <div class="controls">
                            <a data-action="delete-clock"><i class="fas fa-trash"></i></a>
                            <a data-action="edit-clock"><i class="fas fa-edit"></i></a>
                        </div>
                    {{/if}}
                    <div class="name">{{#if clock.private}}<i class="fas fa-eye-slash"></i>{{/if}} {{clock.name}}</div>
                </div>
            </div>
        {{/each}}
    </div>
    {{#if @root.options.editable}}
        <a data-action="add-clock"><i class="fas fa-plus"></i> {{localize "GlobalProgressClocks.AddClock"}}</a>
    {{/if}}
</section>