<form>
    <div class="dialog-content">
        <div class="form-group">
            <label>{{localize "GlobalProgressClocks.CreateDialog.Name"}}</label>
            <div class="form-fields">
                <input type="text" name="name" value="{{clock.name}}" {{#unless clock}}autofocus{{/unless}} />
            </div>
        </div>
        {{#if clock}}
            <div class="form-group">
                <label>{{localize "GlobalProgressClocks.CreateDialog.Value"}}</label>
                <div class="form-fields">
                    <input type="text" name="value" value="{{clock.value}}" autofocus />
                </div>
            </div>
        {{/if}}
        <div class="form-group">
            <label>{{localize "GlobalProgressClocks.CreateDialog.Size"}}</label>
            <div class="form-fields">
                <div class="dropdown-wrapper">
                    {{#if clock.max}}
                        {{ numberInput clock.max name="max" step=1 min=1 max=max_size }}
                    {{else}}
                        {{ numberInput 4 name="max" step=1 min=1 max=max_size }}
                    {{/if}}
                    <ul class="dropdown">
                        {{#each presetSizes as |size|}}
                            <li data-value={{size}}>{{size}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        {{#if clockColors}}
            <div class="form-group">
                <label>{{localize "GlobalProgressClocks.CreateDialog.Color"}}</label>
                <select name="colorId">
                    {{#select clock.colorId}}
                        <option>{{localize "GlobalProgressClocks.CreateDialog.Default"}}</option>
                        {{#each clockColors as |color|}}
                            <option value="{{color.id}}">{{color.name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        {{/if}}
        <div class="form-group">
            <label for="clock{{clock.id}}-add-private">{{localize "GlobalProgressClocks.CreateDialog.Private"}}</label>
            <div class="form-fields">
                <input id="clock{{clock.id}}-add-private" type="checkbox" name="private" {{checked clock.private}}/>
            </div>
        </div>
    </div>
    <div class="dialog-buttons">
        <button class="dialog-button" data-button="yes">
            <i class="fas fa-check"></i>
            {{localize "Confirm"}}
        </button>
        <button class="dialog-button" data-button="no">
            <i class="fas fa-times"></i>
            {{localize "Cancel"}}
        </button>
    </div>
</form>
