<section 
    class="clock-display {{#if @root.options.editable}}editable{{/if}} {{verticalEdge}} {{horizontalEdge}}"
    data-location="{{location}}"
    style="--vertical-offset: {{verticalOffset}}">
    {{#if clocks}}
        <div class="clock-list" >
            {{#each clocks as |clock|}}
                <div class="clock-entry ui-control {{#if clock.editable}}editable{{/if}} {{#if clock.private}}private{{/if}} {{#unless clock.visible}}hidden{{/unless}}" data-id="{{clock.id}}">
                    <div class="name">
                        <span class="value">{{#if clock.private}}<i class="fas fa-eye-slash"></i> {{/if}}{{clock.name}}</span>
                        {{#if clock.editable}}
                            <div class="controls">
                                <a data-action="deleteEntry"><i class="fa-solid fa-fw fa-trash"></i></a>
                                <a data-action="editEntry"><i class="fa-solid fa-fw fa-edit"></i></a>
                                <span class="value">{{#if clock.private}}<i class="fas fa-eye-slash"></i> {{/if}}{{clock.name}}</span>
                            </div>
                        {{/if}}
                    </div>
                    {{#if (eq clock.type "points")}}
                        <div class="points">
                            {{clock.value}}
                        </div>
                    {{else}}
                        <div class="clock" style="--areas: {{clock.max}}; --filled: {{clock.value}}; --clock-color: {{clock.color}}; --background: {{clock.backgroundColor}}">
                            {{#each clock.spokes}}
                                <div class="spoke" style="--index: {{ this }}"></div>
                            {{/each}}
                        </div>
                    {{/if}}
                </div>
            {{/each}}
        </div>
    {{/if}}
    {{#if @root.options.editable}}
        <div class="main-controls">
            <button class="ui-control" data-action="addPoints">
                <i class="fas fa-plus"></i> {{localize "GlobalProgressClocks.Add.Points"}}
            </a>
            <button class="ui-control" data-action="addClock">
                <i class="fas fa-plus"></i> {{localize "GlobalProgressClocks.Add.Clock"}}
            </a>
        </div>
    {{/if}}
</section>