<div class="dialog-content">
    <form class="add-clock-form">
        <div class="form-group">
            <label>{{localize "GlobalProgressClocks.CreateDialog.Name"}}</label>
            <input type="text" name="name" value="{{clock.name}}" autofocus />
        </div>
        {{#if clock}}
            <div class="form-group">
                <label>{{localize "GlobalProgressClocks.CreateDialog.Value"}}</label>
                <input type="text" name="value" value="{{clock.value}}" autofocus />
            </div>
        {{/if}}
        <div class="form-group">
            <label>{{localize "GlobalProgressClocks.CreateDialog.Size"}}</label>

            <div class="dropdown-wrapper">
                {{#if clock.max}}
                    {{ numberInput clock.max name="max" step=1 min=2 max=max_size }}
                {{else}}
                    {{ numberInput 4 name="max" step=1 min=2 max=max_size }}
                {{/if}}
                <ul class="dropdown">
                    {{#each presetSizes as |size|}}
                        <li data-value={{size}}>{{size}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "GlobalProgressClocks.CreateDialog.Private"}}</label>
            <input type="checkbox" name="private" {{checked clock.private}}/>
        </div>
    </form>
</div>
<div class="dialog-buttons">
    <button class="dialog-button" data-button="yes">
        <i class="fas fa-check"></i>
        {{localize "Yes"}}
    </button>
    <button class="dialog-button" data-button="no">
        <i class="fas fa-times"></i>
        {{localize "No"}}
    </button>
</div>